NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
KRA_RACE_INFO_API_KEY=
KRA_RACE_DETAIL_RESULT_API_KEY=
KRA_CANCELLATION_API_KEY=
KRA_JOCKEY_CHANGE_API_KEY=
KRA_API_BASE_URL=http://apis.data.go.kr
GITHUB_TOKEN=
GITHUB_OWNER=
GITHUB_REPO=
